In [6]:
import requests
import pandas as pd
from bs4 import BeautifulSoup

url = "https://mtp.indianrailways.gov.in/view_section.jsp?fontColor=black&backgroundColor=LIGHTSTEELBLUE&lang=0&id=0,2,630"
data = requests.get(url).text
# creating the soup object
soup = BeautifulSoup(data, 'html.parser')
for table in soup.find_all('table'):
    print(table.get('class'))

None
None
None
None
['font_12px']
None
['font_12px']
['font_12px']
None
None
None
None
None
None
None
None
['MsoNormalTable']
['MsoNormalTable']
['MsoNormalTable']
['MsoNormalTable']
['MsoNormalTable']
None
['font_10px']
['news']

In [7]:
timing_tables_list = soup.find('table', class_='MsoNoramlTable')

In [8]:
# creating the data frame from the tables we got
df_list = pd.read_html(url, attrs={'class': 'MsoNormalTable'}, flavor='bs4', thousands='.')

In [9]:
# the two list we need for timings are last and second last
# according to the site we have two tables which are showing the timing of metro of that station 
# so whenever we are seeing the table we need to look both table and find where we are trains are going.
sectorV_to_sealdah_df = df_list[-1]
sealdah_to_sectorV_df = df_list[-2]
sealdah_to_sectorV_df.head()

,0,1,2,3,4,5,6,7
0,METRO SERVICES W.E.F. 01.12.2022 IN EAST-WEST ...,METRO SERVICES W.E.F. 01.12.2022 IN EAST-WEST ...,METRO SERVICES W.E.F. 01.12.2022 IN EAST-WEST ...,METRO SERVICES W.E.F. 01.12.2022 IN EAST-WEST ...,METRO SERVICES W.E.F. 01.12.2022 IN EAST-WEST ...,METRO SERVICES W.E.F. 01.12.2022 IN EAST-WEST ...,METRO SERVICES W.E.F. 01.12.2022 IN EAST-WEST ...,METRO SERVICES W.E.F. 01.12.2022 IN EAST-WEST ...
1,SEALDAH (SDHM),PHOOL BAGAN (PBGB),SALT LAKE STADIUM (SSSA),BENGAL CHEMICAL (BCSD),CITY CENTER (CCSC),CENTRAL PARK (CPSA),KARUNA MOYEE (KESA),SALT LAKE SECTOR V (SVSA)
2,D,D,D,D,D,D,D,A
3,6:55,6:58,7:02,7:05,7:08,7:10,7:12,7:15
4,7:15,7:18,7:22,7:25,7:28,7:30,7:32,7:35

In [10]:
sealdah_to_sectorV_csv = sealdah_to_sectorV_df.to_csv('timings/sealdah_to_sectorV.csv', index=False)
sectorV_to_sealdah_csv = sectorV_to_sealdah_df.to_csv('timings/sectorV_to_sealdah.csv', index=False)